@charset "UTF-8";

/*color guide:
#000000 Black
#b3b3b3 Light Grey
#808080 Grey
#4f4f4f Dark Grey
#ffffff White
#00b2df Light Cyan
#001e25 Dark Cyan
#dab844 Yellow
*/

/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
}

/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}

html {
	background: #001e25;
}

/*header and nav*/
#navbarWrap {
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
	background: #000000;
	box-shadow: 0px 5px 0px #00b2df;
}
#logoWrap {
	position: fixed;
	top: 15px;
	left: 15px;
	height: 50px;
}
#menuWrap {
	position: fixed;
	top: 15px;
	right: 15px;
	height: 50px;
}
nav {
	padding: 0px;
	height: 50px;
}
nav ul {
  list-style: none;
  text-align: right;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  position: relative;
	display: block;
  padding: 15px;
	margin: 0 10px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
}
nav ul li a:hover {
  color: #808080;
	transition: 0.5s;
}
nav ul li a:after {
  position: absolute;
  transition: 0.5s;
	bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
	height: 1px;
	width: 0%;
  content: '';
  color: transparent;
  background: #328080;
}
nav ul li a:hover:after {
  width: 100%;
}

#contentWrap {
  margin:80px 0px 0px 0px; /*Add a top margin to avoid content overlay with nav*/
  padding: 0px;
  color: #ffffff;
}

small {
	color: #dab844 !important;
	font: 75% Futura, "Trebuchet MS", Arial, sans-serif;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
