/*color guide:
#000000 Black
#b3b3b3 Light Grey
#808080 Grey
#4f4f4f Dark Grey
#ffffff White
#00b2df Light Cyan
#001e25 Dark Cyan
#dab844 Yellow
*/

background-color: #001e25;

h1 {
	font-size: 6em;
	color: #00b2df;
	font-weight: strong;
}

p {
	font-size: 2em;
	color: #dab844;
	font-weight: normal;
}
